@import './../../common/styles/templates';
@import './../../common/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid $color;
}

.btn {
  @extend %btn;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #555555;
}
