/*
    css comment
*/

// sass / scss comment

@use "sass:math";

// css variables
:root {
    --text-color: red;
    --sm-size : 576px;
}

.textCss {
    color: var(--text-color);
}

@media screen and (min-width: var(--sm-size)) {
    .test {
        // bla bla bla
        color:green;
    }
}

// scss variables

$text-color: red;
$sm-size: 576px;

.textScss {
    color: $text-color;
}

.redBg {
    background-color: $text-color;
}

@media screen and (min-width: $sm-size) {
    .test {
        // bla bla bla
        color:green;
    }
}

// Nesting 

/*
.imgWrapper {
    position: relative;
    width: 500px;
    height: 500px;
}

.imgWrapper > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
*/

.imgWrapper {
    position: relative;
    width: 500px;
    height: 500px;
    
    > img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

// ссылка на родительский селектор

/*
.btn {
    background-color: dodgerblue;
    padding: 20px;
}

.btn:hover {
    background-color: red;
}
*/

.btn {
    background-color: dodgerblue;
    padding: 20px;
    
    &:hover {
        background-color: red;
    }
    
    &Start {
        color: green;
        
        &:hover {
            color: lime;
        }
    }
    
    &Stop {
        color: red;
    }
}

// Media queries

/*
.container {
    max-width: 900px;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 300px;
    }
}
*/

.container {
    max-width: 900px;
    
    @media screen and (max-width: 576px) {
        max-width: 300px;
    }
}

.btn {
    @media screen and (max-width: 768px) {
        color: blue;
    }
}

// расширение / наследование

/*
.startBtn {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    color: green;
}

.stopBtn {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    color: red;
}

.startBtn, 
.stopBtn {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
}

*/

%btn {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
}

.startBtn {
    @extend %btn;
    color: green;
}

.stopBtn {
    @extend %btn;
    color: red;
}

// Mixin

@mixin flex ($direction, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
}

.container-slider {
    @include flex(row);
    max-width: 600px;
}

.container-form {
    @include flex(column, flex-start, flex-end);
    padding: 30px;
}

// Math operations


.cssMath {
    --base-size: 16px;
    font-size: calc( var(--base-size) * 2);
    padding: calc(var(--base-size)  / 2);
}



$base-size: 16px;
.sassMath {
    font-size: $base-size * 2;
    padding: math.div($base-size, 2);
}